body{
    background-color: darkslategrey;
}

div {
    background-color:hotpink;
     padding: 5px;
     width: 50%;
     border-radius: 10px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

b{
    color:lawngreen;
}

fieldset {
    background-color: blanchedalmond;
}

legend{
    color: red;
}

#mytable{
    background-color: brown;
}

tr{
    background-color: wheat;
}